<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.doctorfinderapp.doctorfinder">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="your.package.name.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.doctorfinderapp.doctorfinder.permission.C2D_MESSAGE" />

    <permission
        android:name="com.doctorfinderapp.doctorfinder.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".functions.App"
        android:allowBackup="true"
        tools:replace="android:icon"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".access.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider722994014468396"
            android:exported="true" />
        <!-- facebook activity is required -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".access.LoginActivity"
            android:parentActivityName=".access.FirstActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.doctorfinderapp.doctorfinder.access.FirstActivity" />
        </activity>
        <activity
            android:name=".access.FirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".access.SignupActivity"
            android:parentActivityName=".access.FirstActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.doctorfinderapp.doctorfinder.access.FirstActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.doctorfinderapp.doctorfinder.MainActivity" />
        </activity>
        <activity android:name=".UserProfileActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="VfxaK2Tk5qApR5nvAulR" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="wIgqO6QfRM4vFuD3pWJi" />

        <activity android:name=".WebViewActivity" />
        <activity
            android:name=".Qurami.MainActivityQurami"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorActivity"
            android:label="@string/title_activity_doctor"
            android:theme="@style/AppTheme">
        </activity>

        <!--Intro-->
        <activity android:name=".Intro.DefaultIntro"
            android:screenOrientation="portrait"/>

        <activity android:name=".Informativa"
            android:screenOrientation="portrait"/>


    </application>

</manifest>
