html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote, q {
        quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* #Basic Styles
================================================== */

html, body {
    height: 100%;
}

body {
    font: 14px/1.5 'Open Sans', sans-serif;
    color: #909090;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tab-highlight-color: green;
    overflow: auto;
    
}

/* #Typography
================================================== */

h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
    letter-spacing: 1.1px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 38px; line-height: 1.2; }
h2 { font-size: 34px; line-height: 1.2; }
h3 { font-size: 28px; line-height: 1.2; }
h4 { font-size: 18px; line-height: 1.3; }
h5 { font-size: 17px; line-height: 1.4; }
h6 { font-size: 14px; line-height: 1.5; text-transform: uppercase;}

h1, h2, h3 {
    margin-bottom: 20px;
}

.subheader {
    color: #aaa;
}

p {
    margin: 0 0 20px;
}

p img {
    margin: 0;
}

p.lead {
    font-size: 21px;
    line-height: 27px;
    color: #aaa;
}

em {
    font-style: italic;
}

strong {
    font-weight: 400;
}

small { 
    font-size: 80%;
}

/*  Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote {
    background-color: #f5f5f5;
    margin: 0 0 20px;
    padding: 17px 20px 2px 19px;
    border-left: 2px solid #ddd;
}
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr {
    border: none;
    border-bottom: 1px solid #E9E9E9;
    clear: both;
    height: 0;
    left: 50%;
    margin: 0 0 40px 0;
    padding-top: 20px;
}

hr.section {
    padding-top: 60px;
    margin: 0 0 60px 0;
}

hr.small {
    padding-top: 10px;
    margin: 0 0 30px 0;
}


/* #Links
================================================== */

a {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

    /* Remove gray flash on mobile */
    /*-webkit-tab-highlight-color: rgb(255,0,0,0.5);*/
    -webkit-tab-highlight-color: blue;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover,
a:focus {
    color: #888;
    outline: 0;
}

p a,
p a:visited {
    line-height: inherit;
}

/* #Lists
================================================== */

ul {
    list-style: none outside;
}

ol {
    list-style: decimal;
}

ol,
ul.square,
ul.circle,
ul.disc {
    margin-left: 17px;
    margin-bottom: 20px;
}

.list {
    margin-bottom: 20px;
}

.list li {
    margin-bottom: 7px;
}

.list i {
    color: #444;
    padding-right: 14px;
}

ul.square {
    list-style: square outside;
}

ul.circle {
    list-style: circle outside;
}

ul.disc {
    list-style: disc outside;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 4px 0 5px 30px;
    font-size: 90%;
}

ul ul li,
ul ol li,
ol ol li,
ol ul li {
    margin-bottom: 6px;
}

li {
    margin: 0;
    line-height: 20px;
}

ul.large li {
    line-height: 25px;
}

/* #Images
================================================== */

img.scale-with-grid {
    height: auto;
    max-width: 100%;
}

/* #Buttons
================================================== */

/* DEFAULT BUTTON */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    border: none;
    background: #777;
    display: inline-block;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    font-family: inherit;
    line-height: normal;
    margin: 0 20px 20px 0;
    color: white;
    cursor: pointer;
    outline: none;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
    -webkit-appearance: none;
    text-transform: uppercase;
    text-align: left;
}

/* DEFAULT BUTTON HOVER */
.button:hover,
 button:hover,
 input[type="submit"]:hover,
 input[type="reset"]:hover,
 input[type="button"]:hover {
    background: #424242;
    color: white;
}

/* BUTTONS WITH ICONS*/
.button i {
    padding: 0 15px 0 0;
}

/* LAST BUTTON */
.button.last,
button.last,
input[type="submit"].last,
input[type="reset"].last,
input[type="button"].last {
    margin-right: 0;
}

/* OUTLINE BUTTONS */
.button.outline,
button.outline,
input[type="submit"].outline,
input[type="reset"].outline,
input[type="button"].outline {
    background-color: #009688;
    color: #fff;
}

.button.outline:hover,
button.outline:hover,
input[type="submit"].outline:hover,
input[type="reset"].outline:hover,
input[type="button"].outline:hover {
    border-color: #01766b;
	background-color: #01766b;
	color: #fff;
}

/* COLOR BUTTONS */
.button.color, 
button.color,
input[type="submit"].color,
input[type="reset"].color,
input[type="button"].color {
    background: #7fbbc5;
    color: #ff;
}

.button.color:hover, 
button.color:hover,
input[type="submit"].color:hover,
input[type="reset"].color:hover,
input[type="button"].color:hover {
    background: #888;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    background: #333;
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {

    width: 100%;
    padding-right: 0!important;
    padding-left: 0!important;
    text-align: center;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

focus {
    outline:none;
}

::-moz-focus-inner {border:0;}

/* BUTTON SIZES */
.button.small,
button.small,
input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small {
    font-size: 12px;
    padding: 4px 14px;
}

.button.medium,
button.medium,
input[type="submit"].medium,
input[type="reset"].medium,
input[type="button"].medium {
    font-size: 16px;
    padding: 10px 20px;
}

.button.large,
button.large,
input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large {
    font-size: 18px;
    padding: 10px 25px;
    font-weight: 300;
}


/* ===================================================== */
/* Forms
/* ===================================================== */

fieldset {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea,
select {
    background: #fff;
    border: none;
    color: #aaa;
    display: block;
    font: 13px HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
    margin: 0;
    max-width: 100%;
    outline: none;
    padding: 10px 10px 10px;
    width: 210px;
}

input:invalid {
    box-shadow: none;
}  

/* Removes top shadow on ios*/
input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
    border: 1px solid #f5f5f5;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select {
    padding: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}

textarea {
    min-height: 60px;
}

label,
legend {
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
}

select {
    width: 220px;
}

input[type="checkbox"] {
    display: inline;
}

label span,
legend span {
    font-size: 13px;
    font-weight: 400;
    color: #444;
}

/* ===================================================== */
/* Tables
/* ===================================================== */

.table {
    background: #fff;
    border: 1px solid #EEEEEE;
    width: 100%;
}

.table th, .table td {
    border: 1px solid #EEEEEE;
    padding: 10px;
}

.table th {
    background: #f2f2f2;
}


/* ===================================================== */
/* Helpers
/* ===================================================== */

.no-mb {
    margin-bottom: 0!important;
}

.no-rm {
    margin-right: 0 !important;
}

.no-pb {
    padding-bottom: 0 !important;
}

.mb {
    margin-bottom: 20px;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.center {
    margin: 0 auto;
}

.centered {
    text-align: center !important;
}

.no-bg {
    background: none !important;
}

.vertical-align {
    display: table-cell;
    vertical-align: middle;
}

.row {
    margin-bottom: 50px;
}

