/.idea/encodings.xml
/app/proguard-rules.pro
/gradle.properties
/settings.gradle
/gradle/wrapper/gradle-wrapper.properties
/build.gradle
/app/build.gradle

/.idea/gradle.xml
/.idea/misc.xml
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

/captures
